@media  screen and (max-width: 960px) {
  body {
    background-color: blue;
  }

  .container {
    max-width: 768px;
    padding: 0 25px;
  }

  #home {
    padding-top: 220px;
  }

  .logo {
    width: 100%;
    float: none;
    align-self: center;
  }

  .slidre_nav_1,
  .slidre_nav_2 {
    width: 5%;
  }

  .nav {
    width: 100%;
    float: none;
  }

  .nav li {
    margin-left: 0;
    margin-right: 8%;
    width: 5%;
  }
.slide__article{
  padding: 69px 3px 0 40px;
}
  .slider__article__title {
    font-size: 48px;
  }

  .slider__article__subtitle {
    font-size: 24px;
  }

  .slider__article__text {

    font-size: 16px;
    height: 115px;
    overflow: hidden;*/
  }
  /*.slider__article__text p{
    overflow: hidden;
  }*/


@media  (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: red;
  }
  #home {
    padding-top: 200px;
    height: 600px;
    max-width: 100%;
  }
  .container {
    max-width: 480px;
  }

  .logo {
    text-align: center;
  }

  .nav {
    display: none;
  }

  article {
    height: auto;
  }
.slider {
  height: 255px;
}
  .slide__article {
    width: 60%;
    padding: 0;
    padding: 66px 3px 0 0;
  }

    .slider__article__title {
      font-size: 48px;
    }

    .slider__article__subtitle {
      font-size: 24px;
    }

    .slider__article__text {
    display: none;
    }
    .slider__dots {
      padding-top: 320px;
    }
    article   .container {
      padding: 0px 55px;
  }
  .article__section {
    display: block;
    height: auto;
    padding-left: 0;
  }

  .article__section__box {
    width: 100%;
  }

  section {
    display: block;
    padding: 100px 0 113px 0;
  }

  .section__slider {
    width: 100%;
    margin-right: 0px;
    max-width: 100%;
  }

  .section__info {
    width: 100%;
    padding: 24px 35px 11px 35px;
    font: 16px/24px "Open Sans Light", sans-serif;
    position: relative;
  }

  .sponsors li {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 25px 0;
  }

  .pre__footer__box {
    padding: 75px 0;
    display: block;
    height: auto;
  }

  .pre__footer__box__article {
    width: 100%;
    max-width: 100%;
  }

  .footer__nav {
    height: 115px;
    width: 100%;
    overflow: hidden;
  }

  .footer__nav li {
    display: inline-block;
    width: 16%;
  }

  .footer__copyright {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 0;
    float: none;
  }

  .footer__copyright p {
    text-align: center;
  }
}

@media  (min-width: 360px) and (max-width: 479px) {
  body {
    background-color: green;
  }
  #home {
    padding-top: 200px;
    height: 600px;
    max-width: 100%;
  }
  .container {
    max-width: 360px;
    min-width: 350px;
  }

  .logo {
    text-align: center;
  }

  .nav {
    display: none;
  }

  article {
    height: auto;
  }
  article   .container {
    padding: 0px 55px;
}

  .slider {
    background-color: rgba(0,0,0,0);
  }

  .slide__article {
    width: 100%;
    padding: 150px 0 0 0;
    text-align: center;
  }

  .article__section {
    display: block;
    height: auto;
    padding-left: 0;
  }
  .slider__dots {
    padding-top: 180px;
  }
  .article__section__box {
    width: 100%;
  }

  .sliderimg__box,
  .slider__article__text {
    display: none;
  }

  section {
    display: block;
    padding: 100px 0 113px 0;
  }

  .section__slider {
    width: 100%;
    margin-right: 0px;
    max-width: 100%;
  }

  .section__info {
    width: 100%;
    padding: 24px 35px 11px 35px;
    font: 16px/24px "Open Sans Light", sans-serif;
    position: relative;
  }

  .sponsors li {
    text-align: center;
    display: inline-block;
    width: 48%;
    padding: 25px 0;
  }

  .pre__footer {
    display: none;
  }

  .footer__nav {
    display: none;
  }

  .footer__copyright {
    float: none;
    width: 100%;
    text-align: center;
  }

  .footer__copyright p {
    text-align: center;
  }
}
