@media  screen and (max-width: 960px) {

  .container {
    max-width: 768px;
    padding: 0 25px;
  }

  #home {
    padding-top: 220px;
  }

  .logo {
    width: 100%;
    float: none;
    align-self: center;
  }

  .slidre_nav_1,
  .slidre_nav_2 {
    width: 5%;
  }

  .nav {
    width: 100%;
    float: none;
  }

  .nav li {
    margin-left: 0;
    margin-right: 8%;
    width: 5%;
  }

  .slide__article {
    padding: 69px 3px 0 40px;
  }

  .slider__article__title {
    font-size: 48px;
  }

  .slider__article__subtitle {
    font-size: 24px;
  }

  .slider__article__text {
    font-size: 16px;
    height: 115px;
    overflow: hidden;
  }

@media screen and (max-width: 768px) {
    #home {
    padding-top: 200px;
    height: 600px;
    max-width: 100%;
  }

  .container {
    max-width: 480px;
  }

  .logo {
    text-align: center;
  }

  .fail_home {
    display: block;
    opacity: 100;
  }

  .nav {
    top: -40px;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: rgba(62,50,71,.67);
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    z-index: 10000;
    overflow: hidden;
    opacity: 0;
  }

  .nav:hover {
    opacity: 100;
  }

  .nav li {
    width: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
  }

  .nav li:hover {
    background-color: #29202f;
  }

  .nav li:last-child {
    border-bottom: 0px;
  }

  .nav li:first-child {
    border-top: 0px;
  }

  .nav li  a {
    height: 50px;
    padding: 2px;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    transition: all .2s;
  }

  .nav a:hover {
    border-bottom: 0px;
  }

  article {
    height: auto;
  }

  .article__section {
    padding: 65px 0;
  }

  .slider {
    height: 255px;
  }

  .slide__article {
    width: 60%;
    padding: 0;
    padding: 66px 3px 0 0;
  }

  .slider__article__title {
    font-size: 48px;
  }

  .slider__article__subtitle {
    font-size: 24px;
  }

  .slider__article__text {
    display: none;
  }

  .slider__dots {
    padding-top: 320px;
  }

  article   .container {
    padding: 0px 55px;
  }

  .article__section {
    display: block;
    height: auto;
    padding-left: 0;
  }

  .article__section__box {
    width: 100%;
  }

  section {
    display: block;
    padding: 100px 0 70px 0;
  }

  .section__slider {
    width: 100%;
    margin-right: 0px;
    max-width: 100%;
  }

  .section__info {
    width: 100%;
    padding: 24px 35px 11px 35px;
    position: relative;
  }

  .sponsors li {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 25px 0;
  }

  .pre__footer__box {
    padding: 75px 0;
    display: block;
    height: auto;
  }

  .pre__footer__box__article {
    width: 100%;
    max-width: 100%;
  }

  .footer__nav {
    height: 100px;
    width: 100%;
    overflow: hidden;
    float: none;
  }

  .footer__nav li {
    text-align: center;
    display: inline-block;
    width: 16%;
  }

  .footer__copyright {
    text-align: center;
    width: 100%;
    line-height: 0;
    float: none;
  }

  .footer__copyright p {
    text-align: center;
  }
}

@media screen and  (max-width: 478px) {

  #home {
    padding-top: 200px;
    height: 515px;
    max-width: 100%;
  }

  .container {
    max-width: 360px;
    padding: 0 30px;

  }

  .logo {
    text-align: center;
  }

  .fail_home {
    display: block;
    opacity: 100;
  }

  .nav {
    top: -40px;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: rgba(62,50,71,.67);
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    z-index: 10000;
    overflow: hidden;
    opacity: 0;
  }

  .nav:hover {
    opacity: 100;
  }

  .nav li {
    width: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
  }

  .nav li:hover {
    background-color: #29202f;
  }

  .nav li:last-child {
    border-bottom: 0px;
  }

  .nav li:first-child {
    border-top: 0px;
  }

  .nav li  a {
    height: 50px;
    padding: 2px;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    transition: all .2s;
  }

  .nav a:hover {
    border-bottom: 0px;
  }
  .slider__article__title {
      font-size: 36px;
      line-height: 40px;
  }
  .slider__article__subtitle {
  line-height: 36px;
    font-size: 18px;
  }
  .slider__dots {
    padding-right: 0px;
      padding-top: 490px;
      text-align: center;
  }
  article {
    height: auto;
  }

  article   .container {
    padding: 0px 55px;
  }

  .slider {
    background-color: rgba(0,0,0,0);
  }

  .slide__article {
    width: 100%;
    padding: 96px 0 0 0;
    text-align: center;
  }

  .article__section {
    display: block;
    height: auto;
    padding-left: 0;
  }

  .slider__dots {
    padding-top: 180px;
  }

  .article__section__box {
    width: 100%;
  }

  .sliderimg__box,
  .slider__article__text {
    display: none;
  }

  section {
    display: block;
    padding: 100px 0 113px 0;
  }

  .section__slider {
    width: 100%;
    margin-right: 0px;
    max-width: 100%;
  }

  .section__info {
    width: 100%;
    padding: 24px 0px 11px 0px;
    position: relative;
  }

  .sponsors li {
    text-align: center;
    display: inline-block;
    width: 48%;
    padding: 25px 0;
  }

  .pre__footer {
    display: none;
  }

  .footer__nav {
    display: none;
    float: none;
  }

  .footer__copyright {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 4;
  }

  .footer__copyright p {
    text-align: center;
  }
}
