



@media screen  and (max-width: 768px) {
  body {
    background-color: blue;
  }
.container {
  padding: 0 25px;
}
#home {
  padding-top: 220px;
}

  .logo {
    width: 100%;
    float: none;
    align-self: center;
  }
  .slidre_nav_1,
  .slidre_nav_2 {
    width: 5%;
  }
  .nav {
    width:100%;
    float: none;
  }
  .nav li {
    margin-left: 0;
    margin-right: 8%;
  }

  .slider__article__title {
    font-size: 48px;
  }
  .slider__article__subtitle {
    font-size: 24px;
  }
  .slider__article__text {
    font-size: 16px;
  }
}
@media screen  and (max-width: 480px) {
  body {
    background-color: red;
  }


}
