/*=====GLOBALS STYLE=======*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

ul li {
  list-style: none;
}

h3,
h4 {
  display: inline;
}

@font-face {
  font-family: 'league_gothicCnRg';
    src: url('../fonts/fonts/leaguegothic-condensedregular-webfont.eot');
    src: url('../fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'league_gothicregular', sans-serif;
  font-weight: normal;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

h1 {
  font-weight: normal;
  margin: 0;
}

/*==========HEADER=======*/
header {
  top: 60px;
  left: 1px;
  width: 100%;
  position: absolute;
}

header a {
  font-family: 'league_gothicregular', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.logo {
  width: 20%;
  float: left;
  align-self: center;
}

.logo a {
  font-size: 48px;
}

.logo span {
  color: #5e426b;
}

.nav {
  width: 74%;
  float: right;
}

.nav li {
  display: inline-block;
  text-align: right;
  /*float: left;*/
  /*margin-left: 8%;*/
  width: 14.6%;
}

.nav li  a {
  /*display: block;*/
  /*min-width: 40px;*/
  height: 50px;
  padding: 2px;
  font-size: 24px;
  line-height: 50px;
  text-align: right;
  transition: all .2s;
}

.nav a:hover {
  border-bottom: 2px solid #edbfff;
}

#home {
  padding-top: 280px;
  height: 850px;
  max-width: 100%;
}

.slider {
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,.53);
  color: #fff;
  font-family: 'league_gothicregular';
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  position: relative;
}

.slidre_nav_1,
.slidre_nav_2 {
  height: 100%;
  width: 5%;
  background-color: #000;
  position: absolute;
  z-index: 1000;
}

.slidre_nav_1 {
  left: 0;
  background: url(../img/nav_L.png) no-repeat center center;
}

.slidre_nav_1 a,
.slidre_nav_2 a {
  width: 100%;
  max-width: 20px;
  height: 100%;
  display: block;
}

.slidre_nav_1 a:hover,
.slidre_nav_2 a:hover {
  background-color: rgba(0,0,0,.26);
}

.slidre_nav_2 {
  right: 0;
  background: url(../img/nav_R.png) no-repeat center center;
}

.slide__article {
  width: 50%;
  /*max-width: 425px;*/
  min-width: 200px;
  padding: 69px 3px 0 40px;
  float: left;
  overflow: hidden;
}

.slider__article__title {
  font-size: 60px;
  line-height: 63px;
  padding: 0;
  margin: 0;
}

.slider__article__subtitle {
  color: #edbfff;
  font-size: 32px;
}

.slider__article__text {
  height: 175px;
  width: 100%;
  padding: 5px;
  min-width: 200px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;
  overflow: hidden;
}
.slider__article__text p{
  overflow: hidden;
}
.sliderimg__box {
  width: 40%;
  /*min-width: 300px;*/
  float: right;
  position: relative;
}

.sliderimg__img {
  width: 100%;
  max-width: 275px;
  min-width: 200px;
  height: 400px;
  top: -20px;
  left: -5px;
  background: url(../img/cell.png) no-repeat;
  background-size: 100%;
  position: relative;
}

.slider__dots {
  width: 100%;
  padding-right: 160px;
  padding-top: 490px;
  text-align: right;
}

.slider__dots li {
  width: 20px;
  height: 18px;
  background: url(../img/slider_dots.png) 0 0 no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  cursor: pointer;
}

.slider__dots li :hover {
  background-position: -20px 0px;
}


/*==========ARTICLE========*/
article {
  height: 340px;
  background: rgb(116,80,130);
  background: -moz-linear-gradient(top,  rgba(116,80,130,1) 0%, rgba(82,58,92,1) 45%, rgba(51,37,58,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(116,80,130,1) 0%,rgba(82,58,92,1) 45%,rgba(51,37,58,1) 100%);
  background: linear-gradient(to bottom,  rgba(116,80,130,1) 0%,rgba(82,58,92,1) 45%,rgba(51,37,58,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745082', endColorstr='#33253a',GradientType=0 );
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.43);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.43);
}

.article__section {
  width: 100%;
  height: 100%;
  padding-left: 7%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.article__section__box {
  width: 28%;
  height: 100%;
  padding: 10px 0px 10px 0px;
  color: #fff;
  position: relative;
}


/*
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}*/

.article__section .article__section__title {
  font-family: "league_gothicregular", sans-serif;
  padding: 8px 0;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.article__section .article__section__text {
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.article__section__read_more {
  display: block;
  text-align: right;
  font-family: "league_gothicregular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 20px 0 0;
  cursor: pointer;
}

.article__section__read_more:hover {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.article__icon {
  width: 31px;
  height: 30px;
  left: -50px;
  top: 90px;
  position: absolute;
  display: block;
}

.article__icon--first {
  background-image: url(../img/article_box.png);
  background-position: 0px 0px;
}

.article__icon--second {
  background-image: url(../img/article_box.png);
  background-position: -34px 0px;
}

.article__icon--third {
  background-image: url(../img/article_box.png);
  background-position: -65px 0px;
}


/*=======MAIN==========*/


main {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
}

.info {
  border-bottom: 1px solid #e6e6e6;
}
/*SECTION*/
section {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 113px 0;
}
/*section__slider*/

.section__slider {
  width: 50%;
  margin-right: 32px;
  max-width: 423px;
  padding: 23px 35px 0px 35px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.27);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.27);
  position: relative;
  z-index: 100;
}

/*.section__slider::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: -20px;
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  z-index: 1;
}*/

.section__slider__title,
.pre__footer__title {
  margin-bottom: 8px;
  font-family: "league_gothicregular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.section__slider__title  span {
  color: #edbfff;
}

.section__slider__text,
.pre__footer__text {
  font: 16px/23px "Open Sans Light", sans-serif;
  letter-spacing: .1px;
}

.section__slider__icon {
  width: 51px;
  height: 50px;
  top: 14px;
  left: -27px;
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
}



/*.section__info*/
.section__info {
  width: 40%;
  padding: 24px 35px 11px 35px;
  font: 16px/24px "Open Sans Light", sans-serif;
  position: relative;
}

.info__title {
  padding: 5px 0 1px 0;
  font-family: "league_gothicregular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.info__main {
  font-weight: bold;
}

.section__info__blok {
  margin-top: 20px;
  position: relative;
}

.info__icon {
  width: 49px;
  height: 50px;
  left: -66px;
  top: -2px;
  position: absolute;
  display: block;
}

.icon_1 {
  background-image: url(../img/sprite.png);
  background-position: -50px 0px;
}

.icon_2 {
  background-image: url(../img/sprite.png);
  background-position: -100px 0px;
}

.icon_3 {
  background-image: url(../img/sprite.png);
  background-position: -150px 0px;
}

.section__info__blok--redmore {
  bottom: -30px;
  right: -12px;
  position: absolute;
}

.section__info__read_more {
  color: #000;
  display: block;
  text-align: right;
  font-family: "league_gothicregular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}




/*==========SPONSORS==========*/
.sponsors {
  border-top: 1px solid #fff;
}

.sponsors li {
  text-align: center;
  display: inline-block;
  width: 15%;
  padding: 25px 0;
}

/*
.sponsors_container {
  height: 123px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 60px;
}

.sponsors__img {
width: 10%;
  height: 70px;
  display: block;
  text-align: center;
}*/

/*pre_footer*/

.pre__footer {
  background-color: #ececec;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.pre__footer__box {
  padding-top: 88px;
  height: 411px;
  display: flex;
  justify-content: space-between;
}

.pre__footer__box__article {
  width: 100%;
  max-width: 280px;
}

.pre__footer__title {
  padding-top: 5px;
}

.pre__footer__title--big {
  font-family: "league_gothicregular", sans-serif;
  padding: 0 0 10px 0;
  font-size: 48px;
  text-transform: uppercase;
  color: #454545:
}

.pre__footer__title--big span {
  color: #b9b9b9
}

.pre__footer__copy_right {
  color: #d0d0d0;
  padding-bottom: 8px;
  font-size: 16px;
  font-style: italic;
}


/*=============FOOTER==============*/
footer {
  width: 100%;
  color: #fff;
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__nav {
  height: 115px;
  width: 60%;
  float: left;
}

.footer__nav li {
  display: inline-block;
  width: 16%;
}

.footer__nav li  a {
  display: block;
  height: 50px;
  font-size: 20px;
  line-height: 115px;
  text-align: left;
  font-family: 'league_gothicregular', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.footer__copyright {
  float: right;
  width: 40%;
  height: 50px;
  font-size: 12px;
  line-height: 115px;
  text-align: left;
  font-family: "Open Sans Light", sans-serif;
}

.footer__copyright p {
  text-align: right;
}

.footer__copyright span {
  font-weight: bold;
}
