<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>lessonjs19-20</title>
  <link rel="stylesheet" href="css/build/mainStyle.css">
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="js/plagins/carusel/owl.carousel.js"></script>
  <script type="text/javascript" src='js/template/templat.js'></script>
  <script type="text/javascript" src='js/plagins/lodash/lodash.js'></script>
  <script type="text/javascript" src='js/main.js'></script>
  <script type="text/javascript" src='js/news.js'></script>
  <script type="text/javascript" src='js/baner.js'></script>
  <script type="text/javascript" src='js/secondpart.js'></script>


  <body>
    <div class="wrapper">
      <header>
        <div class="conteyner clearfix">
          <!-- logo -->
          <div class="logo clearfix">
            <a class="logo__link clearfix" href="#">
              <img src="img/logo-img.png" alt="" class="logo__img">
              <div class="logo__titlebox">
                <p class="logo__title">Build Home</p>
                <p class="logo__descriptionsn">Industrial Theme</p>
              </div>
            </a>
          </div>
          <!-- community icons -->
          <ul class="community">
            <li class="community__item">
              <a class="community__link community__link--fb " href="https://www.facebook.com/" target="_blank"></a>
            </li>
            <li class="community__item">
              <a class="community__link community__link--twitter" href="https://twitter.com/?lang=uk" target="_blank"></a>
            </li>
            <li class="community__item">
              <a class="community__link community__link--rss" href="" target="_blank"></a>
            </li>
            <li class="community__item">
              <a class="community__link community__link--ln" href="" target="_blank"></a>
            </li>
            <li class="community__item">
              <a class="community__link community__link--skype" href="" target="_blank"></a>
            </li>
          </ul>
        </div>
        <!-- menu -->
        <div class="conteyner clearfix">
          <nav class="menu clearfix">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Shop</a></li>
            </ul>
            <div class="search">
              <form action="index.html" method="post">
                <input type="text" placeholder="Search..." class="search__field">
              </form>
            </div>
          </nav>
        </div>
        <div class="conteyner clearfix">
          <!-- carusel -->
          <div class="carusel">

            <div id="owl-demo" class="owl-carousel owl-theme">

              <div class="item"><img src="img/slide1.jpg" alt="The Last of us">
                <div class="carusel__text">
                  <p><span class="carusel__text-yelov">Build</span>
                    <br>your business</p>
                </div>
              </div>
              <div class="item"><img src="img/slide3-1.jpg" alt="GTA V">
                <div class="carusel__text">
                  <p><span class="carusel__text-yelov">Manage</span>
                    <br>your
                    <br>time</p>
                </div>
              </div>
              <div class="item"><img src="img/slide4-1.jpg" alt="Mirror Edge">
                <div class="carusel__text">
                  <p><span class="carusel__text-yelov">Make</span>
                    <br>your
                    <br> profit</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </header>
      <div class="info">

        <div class="conteyner clearfix">

          <div class="info__block">
            <p class="info__number">01</p>
            <img class="info__img" src="img/info1.png" alt="">
            <h3 class="info__title">Power Inside</h3>
            <p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
            <a class="info__link" href="">Reade more... →</a>
          </div>

          <div class="info__block">

            <p class="info__number">02</p>
            <img class="info__img" src="img/info2.png" alt="">
            <p class="info__title">New Technologies</p>
            <p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
            <a class="info__link" href="">Reade more... →</a>
          </div>
          <div class="info__block">
            <p class="info__number">03</p>
            <img class="info__img" src="img/info3.png" alt="">
            <h3 class="info__title">Fast Support</h3>
            <p class="info__text">Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</p>
            <a class="info__link" href="">Rede more... →</a>
          </div>
        </div>
      </div>
      <div class="content clearfix">
        <div class="conteyner">
          <h3 class="content__title">Our servise</h3>
          <div class="content__info">
            <a href="" class="content__link">
              <div class="content__hover">
                <div class="content__img content__img--con1 "></div>
              </div>
              <p class="content__img__title">Schedule Services</p>
            </a>
          </div>
          <div class="content__info">
            <a href="" class="content__link">
              <div class="content__hover">
                <div class="content__img content__img--con2"></div>
              </div>
              <p class="content__img__title">Schedule Services</p>
            </a>
          </div>
          <div class="content__info">
            <a href="" class="content__link">
              <div class="content__hover">
                <div class="content__img content__img--con3"></div>
              </div>
              <p class="content__img__title">Schedule Services</p>
            </a>
          </div>
          <div class="content__info">
            <a href="" class="content__link">
              <div class="content__hover">
                <div class="content__img content__img--con4"></div>
              </div>
              <p class="content__img__title">Schedule Services</p>
            </a>
          </div>
        </div>
      </div>

      <!-- artile -->

      <article class="article">
        <div class="conteyner clearfix">
          <div class="news">

            <!-- news template -->
            <script type="text/template" id="news">
              <% for(var i = 0; i < data.length; i++) { %>
                <h3><%=data[i].maintitle%></h3>
                <div class="news__curent clearfix">
                  <div class="news__curent__img"><img src="<%= data[i].image%>" alt="">
                    <div class="news__curent__date">
                      <div class="news__curent__date--manth">
                        <p>
                          <%=data[i].manth%>
                        </p>
                      </div>
                      <div class="news__curent__date--day">
                        <p>
                          <%=data[i].day%>
                        </p>
                      </div>
                    </div>
                  </div>
                  <h4><a class="news__curent__title" href=""><%=data[i].title%></a></h4>
                  <span>by </span><a href="">cmsmaster</a><span> Coments(<a href=""><%=data[i].cometns%></a>)</span>
                  <p class="news__curent__text">
                    <%=data[i].text%>
                  </p>
                </div>
                <% }; %>
            </script>

          </div>
          <div class="banners">
            <script type="text/template" id="baner">
              <% for(var i = 0; i < data.length; i++) { %>
                <h3><%=data[i].section%></h3>
                <div class="accordion">
                  <div class="accordion__section">
                    <a class="accordion__section__title" href="#accordion-1">
                      <%=data[i].title%>
                    </a>
                    <div id="accordion-1" class="accordion__section__content">
                      <p>
                        <%=data[i].text%>
                      </p>
                    </div>
                  </div>
                </div>
                <% }; %>
            </script>
          </div>
        </div>
      </article>

      <!-- adverb -->
      <div class="advert">
        <div class="conteyner">
          <ul class="advert__blok">
            <li class="advert__blok__img">
              <a href=""><img src="img/adv1.png" alt=""></a>
            </li>
            <li class="advert__blok__img">
              <a href=""><img src="img/adv2.png" alt=""></a>
            </li>
            <li class="advert__blok__img">
              <a href=""><img src="img/adv3.png" alt=""></a>
            </li>
            <li class="advert__blok__img">
              <a href=""><img src="img/adv4.png" alt=""></a>
            </li>
            <li class="advert__blok__img">
              <a href=""><img src="img/adv5.png" alt=""></a>
            </li>
            <li class="advert__blok__img">
              <a href=""><img src="img/adv6.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>

    <!-- footer -->
      <footer>
        <div class="pre_footer">
          <div class="conteyner">
            <div class="pre_footer__blok">
              <p class="pre_footer__blok__title">Social</p>
              <ul>
                <li class="pre_footer__link"><a href="">Facebook</a></li>
                <li class="pre_footer__link"><a href="">Flickr</a></li>
                <li class="pre_footer__link"><a href="">Twitter</a></li>
                <li class="pre_footer__link"><a href="">Vimeo</a></li>
              </ul>
            </div>
            <div class="pre_footer__blok">
              <p class="pre_footer__blok__title">Links</p>
              <ul>
                <li class="pre_footer__link"><a href="">How to Write a Blog</a></li>
                <li class="pre_footer__link"><a href="">Create a Blog in 4 Steps</a></li>
                <li class="pre_footer__link"><a href="">15 Tips to Increase Traffic</a></li>
                <li class="pre_footer__link"><a href="">20 Blog Post Ideas</a></li>
              </ul>
            </div>
            <div class="pre_footer__blok">
              <p class="pre_footer__blok__title">Blogroll</p>
              <ul>
                <li class="pre_footer__link"><a href="">Blogs Blog</a></li>
                <li class="pre_footer__link"><a href="">Roll Up Roll Up</a></li>
                <li class="pre_footer__link"><a href="">Blog Free</a></li>
                <li class="pre_footer__link"><a href="">Wordpress Blog</a></li>
              </ul>
            </div>
            <div class="pre_footer__blok">
              <p class="pre_footer__blok__title">About as</p>
              <ul>
                <li class="pre_footer__link"><a href="">Agriculture</a></li>
                <li class="pre_footer__link"><a href="">Harvest</a></li>
                <li class="pre_footer__link"><a href="">Company news</a></li>
                <li class="pre_footer__link"><a href="">Investor relations</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="conteyner clearfix">
            <ul>
              <li class="footer__link footer__link--lok"><a class="footer__contact " href="">BuildHomeLtd.  Street Name 123   23 45 Cityname</a></li>
              <li class="footer__link footer__link--tel"><a class="footer__contact" href="tel:+123 900 123 456">+123 900 123 456</a></li>
              <li class="footer__link footer__link--web"><a class="footer__contact" href="http://info@buildhome.web">info@buildhome.web</a></li>
            </ul>
            <p class="footer__copyright">© 2014 Build Home</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
