
td {
  border: 5px solid rgb(20,20,20);
}

table   {
  margin: 10% auto;
  border-collapse: collapse;
}
table td,
table tr{
  margin: 0;
  text-align: center;

}

.red{
  background-color: #ff5b2d;
}
.yellow{
  background-color: #fffa69;
}
.blue{
  background-color: #074481
}
.black{
  background-color: #000;
}
