* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;

}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wraper {
  width: 910px;
  margin: 0 auto;
}
header {
  margin-top: 10px;
}
.address {
  float: left;
}
.login_board {
  height: 25px;
  background: rgb(31,103,135);
  background: -moz-linear-gradient(top,  rgba(31,103,135,1) 0%, rgba(18,68,104,1) 44%, rgba(13,52,88,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(31,103,135,1) 0%,rgba(18,68,104,1) 44%,rgba(13,52,88,1) 100%);
  background: linear-gradient(to bottom,  rgba(31,103,135,1) 0%,rgba(18,68,104,1) 44%,rgba(13,52,88,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0d3458',GradientType=0 );
   border-radius: 4px;
  float: left;

}
.login_board li {
  margin-left: 10px;
  padding: 3px 0;
  vertical-align: middle;
  float: left;

}
.login_board li button {
  margin-left: 10px;
}

.icons  {
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 10px;
  float: left;
}
.icons li {
  padding: 2px;
  float: left;
}
.icons li a{
  display: block;
   adding: 5px;
}
input, button
{
  outline: 0;
}
