* {
  margin: 0;
  padding: 0;
}

a {
  color: #41a1b9;
  font-size: 12px;
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  padding: 36px 0;
  background-color: #108eae;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;

}

h3 {
  padding-top: 10px;
}

p {
  font: 12px/20px Tahoma, sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.border {
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
}

.wraper {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 6px 23px 2px rgba(0,0,0,0.53);
  display: block;
  box-sizing:content-box;
}

/*header*/
.header{
  padding-top: 12px;
}

.hederTop {
  margin: 0 25px;
}

.logo {
  color: #41a1b9;
  font: 12px/20px Tahoma, sans-serif;
  width: 50%;
  height: 163px;
  float: left;
  position: relative;
}
.logo img {
  position: absolute;
  top: 6px;
}

.text_heder{
  top:100px;
  left: 72px;
  position: absolute;
}

.rightMenu{
  float: right;
}
.contact {
  color: #41a1b9;
  padding-left: 200px;
  text-align: left;
  font: 12px/20px Tahoma, sans-serif;
}



.rightMenu ul {
  margin-top: 22px;
}
.rightMenu li {
  width: 62px;
  text-align: center;
  float: left;
  display: block;
}

.rightMenu img {
  height: 100%;
}
.rightMenu a {
  line-height: 20px;
  display: block;
}

.hederBottom {
  height: 236px;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
  overflow: hidden;
}
/*end heder*/

/*main-menu*/
.menu {
  width: 100%;
  color: #fff;
  padding-left: 60px;
  position: relative;
  border-bottom: 1px solid rgb(0,0,0);
  background: rgb(55,55,55);
  background: rgb(69,72,77);
  background: rgb(69,72,77);
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(51,51,51,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(51,51,51,1)));
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(51,51,51,1) 100%);
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(51,51,51,1) 100%);
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(51,51,51,1) 100%);
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(51,51,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=0 );


  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.61);
  box-sizing: border-box;

}

.menu li {
  float: left;
  position: relative;
}
.menu li a {
  color: #fff;
  padding: 0 33px;
  text-decoration: none;
  position: relative;
  font: 14px/28px "Open Sans", sans-serif;
  display: block;
}
.menu li ul {
  top: 28px;
  display: none;
  position: absolute;
  background: rgb(55,55,55);
}
.menu li:hover ul {
  display: block;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.61);

}

.icon > a{
  background: url(../img/tr.png) no-repeat right  12px;
}

/*main_content*/
.coteyner {
  overflow: hidden;
  padding-bottom: 15px;

}
.coteyner h3 {
  font: 18px/20px Tahoma, sans-serif;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}
.left_block {
  width: 20%;
  float: left;
  background-color: #edeef0;
  padding: 16px 16px 20000px 16px;
  margin-bottom: -20000px;
}
.center_block {
  float: left;
  width: 60%;
  background: #fff;
  padding-bottom: 20000px;
  margin-bottom: -20000px;

}
.right_block {
  width: 20%;
  float: right;
  background-color: #edeef0;
  padding: 16px 16px 20000px 16px;
  margin-bottom: -20000px;
}

.footer {
  width:1000px;
  color: #fff;
  position:absolute;
  text-align: center;
  margin: 10px 10px;

}
