

h2 {
    font-size: 24px;
    text-align: center;

}

.boxshadow {
     -webkit-box-shadow: 0px 0px 1px 2px rgba(206,206,206,0.44);
     -moz-box-shadow: 0px 0px 1px 2px rgba(206,206,206,0.44);
     box-shadow: 0px 0px 1px 2px rgba(206,206,206,0.44);
}

body {
    font-size: 18px;
    padding: 5px;
    margin: 0;
    background-color: #eee;
}
p {
    margin: 14px 0;
    line-height: 14px;
    padding-left: 12px;
}

a{
 margin-bottom: 21px;
 padding-left: 12px;
 display: block;
}


.conteyner {
    width: 510px;
    background-color:#fff;
    padding: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 2px;
}
.conteyner ul {
    margin-top: 38px;
    margin-bottom: 19px;

}
.conteyner img {
    margin-left: 138px;
    border-radius:50%;
}
.borderTop {
    padding-top: 28px;
    border-top: 1px solid #000;
}
.m1 {
    margin-bottom: 18px;
}
.marBot {
    margin-bottom: 5px;
}
.blok2 {
    margin-top: 40px;
}
